@media (min-width: 1025px) {
  .About {
    background: #4cb5d3;
    width: 100%;
    min-height: 97vh;
    background-size: cover;
  }

  .About .aboutOne {
    padding: 9.25rem 150px 4rem 150px;
    text-align: right;
    color: #fff;
  }

  .About .aboutTwo {
    padding-bottom: 100px;
  }

  .aboutOne h1 {
    color: #fff;
    text-shadow: 2px 2px #575757;
  }

  .aboutOne h1,
  .aboutOne h2 {
    line-height: 50px;
    font-family: "Ubuntu", sans-serif;
  }

  .aboutOne p {
    line-height: 25px;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
  }

  .About .containerOne {
    margin: 30px 120px 10px 120px;
  }

  .About .containerOne p {
    color: #585858;
  }

  .About .containerTwo {
    display: flex;
    margin: 30px 120px 10px 120px;
  }

  .About .containerOne,
  .About .containerTwo {
    padding: 50px 50px;
    border-radius: 8px;
    background: #eeeeee;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  }

  .About .bioTwo {
    text-align: justify;
    margin-left: 20px;
    padding-top: 20px;
    color: #585858;
  }

  .About .chelseaPhoto {
    float: left;
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-right: 22px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
  }

  .About .aliciaPhoto {
    width: 200px;
    height: auto;
    margin-right: 5px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
  }

  .About .name {
    font-size: 30px;
    font-weight: 700;
  }

  .About .firstParagraph {
    margin-top: 22px !important;
  }

  .About a {
    color: #4cb5d3;
  }

  .About a:hover {
    color: #4cb5d3;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .About {
    background: #4cb5d3;
    width: 100%;
    min-height: 97vh;
    background-size: cover;
  }

  .About .aboutOne {
    padding: 7rem 18px 7rem 18px;
    text-align: center;
    color: #fff;
  }

  .About .aboutTwo {
    padding-bottom: 20px;
  }

  .aboutOne h1 {
    color: #fff;
    text-shadow: 2px 2px #575757;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .aboutOne h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .aboutOne h1,
  .aboutOne h2 {
    font-family: "Ubuntu", sans-serif;
  }

  .aboutOne p {
    line-height: 25px;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
  }

  .About .containerOne {
    background: #eeeeee;
    padding: 10px 20px;
    margin-bottom: 70px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  }

  .About .containerOne p {
    color: #585858;
    text-align: justify;
  }

  .About .containerTwo {
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  }

  .About .containerTwo p {
    text-align: justify;
  }

  .About .bioTwo {
    text-align: center;
    padding-top: 20px;
    color: #585858;
  }

  .About .imageOne {
    width: 200px;
    height: auto;
    margin: -50px auto 0;
  }

  .About .imageTwo {
    height: auto;
    margin: -50px auto 0;
  }

  .About .chelseaPhoto {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
  }

  .About .aliciaPhoto {
    width: 200px;
    height: auto;
    margin-right: 5px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
  }

  .About .name {
    font-size: 30px;
    font-weight: 700;
  }

  .About .firstParagraph {
    margin-top: 22px !important;
  }

  .About a {
    color: #4cb5d3;
  }

  .About a:hover {
    color: #4cb5d3;
  }
}

@media (max-width: 767px) {
  .About {
    background: #4cb5d3;
    width: 100%;
    min-height: 97vh;
    background-size: cover;
  }

  .About .aboutOne {
    padding: 7rem 18px 7rem 18px;
    text-align: center;
    color: #fff;
  }

  .About .aboutTwo {
    padding-bottom: 20px;
  }

  .aboutOne h1 {
    color: #fff;
    text-shadow: 2px 2px #575757;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .aboutOne h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .aboutOne h1,
  .aboutOne h2 {
    font-family: "Ubuntu", sans-serif;
  }

  .aboutOne p {
    line-height: 25px;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
  }

  .About .containerOne {
    background: #eeeeee;
    padding: 10px 10px;
    margin-bottom: 70px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  }

  .About .containerOne p {
    color: #585858;
    text-align: center;
  }

  .About .containerTwo {
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  }

  .About .bioTwo {
    text-align: center;
    padding-top: 20px;
    color: #585858;
  }

  .About .imageOne {
    width: 200px;
    height: auto;
    margin: -50px auto 0;
  }

  .About .imageTwo {
    height: auto;
    margin: -50px auto 0;
  }

  .About .chelseaPhoto {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
  }

  .About .aliciaPhoto {
    width: 200px;
    height: auto;
    margin-right: 5px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
  }

  .About .name {
    font-size: 30px;
    font-weight: 700;
  }

  .About .firstParagraph {
    margin-top: 22px !important;
  }

  .About a {
    color: #4cb5d3;
  }

  .About a:hover {
    color: #4cb5d3;
  }
}
